body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.box-about-sub {
  background-color: #8f3245;
  color: white;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
}
.second-sticky {
  height: 100vh;
  color: red;
  position: sticky;
  top: 0;
}
.sticky-section {
  height: 100vh;
  overflow-y: auto;
}
.scroll-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.border-about-card {
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  transition: 0.7s ease-in-out;
}

.border-about-card:hover {
  transform: scale(1.04);
}

.border-about-card h6 {
  text-transform: capitalize;
  font-weight: 500;
}
.second-sticky h1 {
  font-size: 120px;
  font-weight: 900;
}
.delay-second {
  transition: 2s ease-in-out;
  transform: translateX(-30px);
  opacity: 0;
}
.fade-fromleft {
  transform: translate(0px);
  opacity: 1;
}
.border-about-card p {
  font-weight: 300;
  color: black;
}
.second-btn {
  border: none;
  background: none;
  color: white;
  padding-inline: 20px;
  padding-block: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: border 3s ease-in-out, color 0.5s ease-in-out;
}
.fade-btn {
  border: 1px solid white;
  transition: border 3s ease-in-out;
}

.text-color {
  color: #f0eeed;
}
.set-main-count h6 {
  text-transform: capitalize;
}

.text-theme {
  color: white;
}
.hide-scrollbar {
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.first-round,
.second-round,
.third-round {
  width: 20px;
  height: 20px;
  border: 1px solid #ff4b57;
  border-radius: 50%;
  background-color: none;
  position: relative;
}
.skill-card h6 {
  text-transform: capitalize;
  font-weight: 700;
}
.home-section {
  height: 100vh;
  /* overflow: hidden; */
}
.about-sub-content {
  font-weight: 300;
  color: gray;
}
/* .home-img {
  width: 100px;
  height: 100px;
  border: 1px solid #fafafa;
  border-radius: 50%;
} */
.home-img img {
  width: 122px;
  height: 111px;
  object-fit: contain;
  border-radius: 50%;
  background-position: center;
}
.banner-1 {
  top: 10%;
  left: 0%;
  border: 18px solid transparent;
  border-left-color: #d5e347;
  animation: spinOne 7s ease-in-out infinite;
}
.banner-2 {
  top: 10%;
  right: 0%;
  border: 18px solid transparent;
  border-right-color: #8f3245;
  animation: spinOne 7s ease-in-out infinite;
}
.banner-4 {
  bottom: 10%;
  right: 0%;
  border: 18px solid transparent;
  border-right-color: #027f9c;
  animation: spinOne 7s ease-in-out infinite;
}
.banner-3 {
  bottom: 10%;
  left: 0%;
  border: 18px solid transparent;
  border-left-color: #ff813d;
  animation: spinOne 7s ease-in-out infinite;
}
.banner {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.comment-box-1 {
  position: absolute;
  top: -37px;
  left: -96px;
  font-size: 14px;
  border: none;
  background: #ff813d;
  /* padding: 5px; */
  border-radius: 21px;
  color: black;
  font-weight: 300;
  text-transform: lowercase;
  transition: 0.7s ease-in-out;
  padding-inline: 10px;
  text-align: center;
  padding-block: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment-box-2 {
  background-color: #d5e347;
  color: black;
  padding-inline: 10px;
  padding-block: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 21px;
  font-size: 14px;
  border: none;
  font-weight: 300;
  text-transform: lowercase;
  transition: 0.7s ease-in-out;
  right: -96px;
  top: -37px;
  position: absolute;
}
.change-web {
  right: -23px;
  transition: 0.7s ease-out;
}
.change-trans {
  left: 38px;
  transition: 0.7s ease-out;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #8f3245;
}
.border-heading {
  border: 1px solid #8f3245;
  width: 200px;
  height: 30px;
  /* padding-block: 5px; */
  padding-inline: 10px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading-development h3 {
  font-weight: 300;
  text-transform: capitalize;
}
.down-arrow {
  height: 100px;
  width: 80px;
}
.fade-bottom {
  transition: 0.9s ease-in-out;
  opacity: 0;
  transform: translateY(30px);
}

.fade-down-animation {
  translate: 0;
}
.heading-development span {
  color: #8f3245;
  font-weight: 600;
}
.phases-image-div {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.phases-image-div img {
  width: 50%;
}
.wrapper-infinite {
  overflow: hidden;
}
.row-img {
  display: flex;
  width: max-content; /* width based on content */
  animation: scrollX 15s linear infinite;
  flex-direction: row;
}
.wrapping {
  width: 500px;
  margin-right: 10px;
}
.wrapper-infinite {
  position: relative;
  overflow: hidden;
}
.wrapper-infinite::before,
.wrapper-infinite::after {
  content: "";
  position: absolute;
  top: 0;
  width: 80px; /* width of the fading area */
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.wrapper-infinite::before {
  left: 0;
  background: linear-gradient(to right, #000 0%, rgba(0, 0, 0, 0) 50%);
}

.wrapper-infinite::after {
  right: 0;
  background: linear-gradient(to left, #000 0%, rgba(0, 0, 0, 0) 50%);
}

@keyframes scrollX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  } /* move half width for infinite effect */
}
.arrow-img {
  width: 100px;
  position: absolute;
  top: 22px;
  left: 18px;
}
.arrow-down {
  width: 90px;
  position: absolute;
  bottom: 52px;
  left: 16px;
}
.arrowsecond-down {
  width: 100px;
  position: absolute;
  bottom: 20px;
  left: 16px;
}
.braibstrom h6 {
  font-weight: 700;
  text-align: center;
  color: white;
}
.nav-container {
  background-color: none;
  padding: 20px;
  background: none;
  border-radius: 20px;
}
.heading-nav {
  color: #8f3245;
}
.braibstrom p {
  text-align: center;
  font-weight: 400;
  color: white;
}
@keyframes spinOne {
  0% {
    transform: rotate(0deg);
    opacity: 0.2;
  }
  20% {
    transform: rotate(100deg);
    opacity: 0.3;
  }
  50% {
    transform: rotate(200deg);
    opacity: 0.3;
  }
  80% {
    transform: rotate(300deg);
    opacity: 0.2;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.1;
  }
}
/* .home-section {
  border-bottom-left-radius: 7%;
  border-bottom-right-radius: 7%;
} */
.skill-card {
  height: 240px;
  overflow: hidden;
  transition: 0.4s ease-in-out;
}
.skilling-card {
  transition: 0.7s ease-in-out;
}
.skilling-card:hover {
  transform: scale(1.04);
}
.first-round::after {
  content: "";
  border: 1px solid gray;
  height: 47px;
  position: absolute;
  top: 20px;
  left: 8px;
}
.heading-home {
  font-size: 55px;
  font-weight: 400;
}
.second-round::after {
  content: "";
  border: 1px solid gray;
  height: 47px;
  position: absolute;
  top: 20px;
  left: 8px;
}
.first-round {
  background-color: #ff4b57;
}
.speacialist-btn {
  border: 1px solid #8f3245;
  padding-inline: 7px;
  padding-block: 5px;
  border-radius: 10px;
  color: #8f3245;
}
.speacialist-btn p {
  text-transform: capitalize;
}
.specialist-card {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 7px;
}
.professional-heading h3 {
  text-transform: uppercase;
  color: #8f3245;
  font-weight: 700;
}
.professional-heading span {
  color: black;
}
.professional-content p {
  font-weight: 500;
}
.professional-content {
  font-weight: 500;
}
.img-stacks {
  width: 50px;
  opacity: 0;
  transition: 0.9s ease-in-out;
  transform: translateY(30px);
}
.img-reveals {
  opacity: 1 !important;
  transition: 0.9s ease-in-out;
  transform: translate(0);
}
.avaptar-img img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}
.avatar {
  transition: 0.9s ease-in-out;
  opacity: 0;
  transform: translateX(-50px);
}
.animated-avatar {
  transform: translate(0px);
  opacity: 1;
}
.downlaod-cv {
  padding-inline: 7px;
  border: none;
  outline: none;
  cursor: pointer;
  padding-block: 3px;
  border-radius: 5px;
  background: #8f3245;
  color: white;
  text-transform: capitalize;
}
.stacks-heading {
  font-weight: 700;
  color: #8f3245;
  text-transform: uppercase;
}
.stacks-heading span {
  color: black;
}
.text-orange {
  color: white;
}
.sub-skills {
  color: #1f2137;
  font-weight: 700;
}
.heading-of-skills h6 {
  font-weight: 500;
  color: white;
}
.skill-react {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  height: 10px;
  border-radius: 10px;
}
.python-graph {
  width: 70%;
  background-color: white;
  height: 100%;
  border-radius: 10px;
}
.javas-graph {
  width: 60%;
  background-color: white;
  height: 100%;
  border-radius: 10px;
}
.jquery-graph {
  width: 40%;
  background-color: white;
  height: 100%;
  border-radius: 10px;
}
.react-graph {
  width: 90%;
  background-color: white;
  height: 100%;
  border-radius: 10px;
}
.react-icon {
  width: 30px;
  height: 30px;
}
.react-text {
  font-weight: 700;
}
.heading-skills {
  font-weight: 700;
}

.home-sub-heading {
  font-size: 18px;
  width: 50%;
  text-align: start;
  font-weight: 200;
}
.btns {
  padding-inline: 10px;
  padding-block: 7px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 2px;
}
.about-btn {
  background-color: black;
  color: white;

  font-weight: 400;
  transition: 0.4s ease-in-out;
}
.about-btn:hover {
  transform: scale(1.04);
  color: white;
}
.bg-theme {
  background-color: black;
}
.nav {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 90000;
}
html {
  scroll-behavior: smooth;
}

.changing-text {
  border-right: 1px solid #fafafa;
  overflow: hidden;
  color: black;
  display: inline-block;
  height: 79px;
  white-space: nowrap;
  /* width: 0; */
  /* animation: typing 3s steps(20, end) forwards, blink 0.6s step-end infinite; */
}
.content-of-about-card h6 {
  color: white;
}
.content-of-about-card p {
  color: white;
  height: 50px;
  overflow: hidden;
  font-size: 12px;
}
.about-padding {
  padding-block: 75px;
}
a {
  transition: ease-in-out 0.5s;
}
a:hover {
  border-bottom: 1px solid black;

  transform: scale(1.1);
}
.about {
  padding: 50px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed white;
  border-radius: 10px;
}
.about h1 {
  color: white;
  text-transform: capitalize;
  font-weight: 900;
}
.scroll-container {
  overflow: hidden;
  white-space: nowrap;
}
.infinite-section img {
  width: 100px;
  height: 100px;
  margin-right: 150px;
}
.infinite-section {
  display: inline-flex;
  animation: scroll 10s linear infinite;
  position: relative;
}
.my-tech-expert {
  font-weight: 400;
  text-transform: capitalize;
}
.infinite-section::after,
.infinite-section::before {
  content: "";
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}

.infinite-section::before {
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 1), transparent);
}

.infinite-section::after {
  right: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 1), transparent);
}

.infinite {
  border-radius: 10px;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.about-sub {
  text-align: center;
}
.about-sub h2 {
  color: white;
  font-weight: 400;
}
.about-sub span {
  font-weight: 700;
  color: #ff4b57;
}
.about-sub p {
  width: 75%;
}
.about-card {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}
.about-card h1 {
  font-weight: 900;
  color: white;
}
.about-card h5 {
  font-weight: 700;
  color: white;
  text-transform: capitalize;
}
.heading-about-card h3 {
  color: white;
}
.contact-img-round {
  width: 50px;
  height: 50px;
  border-radius: 1px solid #fafafa;
  border-radius: 50%;
  background-color: #f0eeed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-img-round img {
  border-radius: 50%;
  width: 70%;
  height: 70%;
  object-fit: contain;
}
.contact-round {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #f0eeed;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.long-line {
  width: 144px;
  height: 4px;
  background-color: black;
  border-radius: 3px;
}
.small-line {
  width: 100px;
  height: 4px;
  background-color: black;
  border-radius: 3px;
}

.contact-round img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}
.c-git {
  font-weight: 300;
  color: blue;
  padding: 0;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 17ch;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.education-head {
  text-transform: capitalize;
  color: #8f3245;
  font-weight: 700;
}
.skill-set-1 {
  border-left: 1px solid #8f3245;
  height: 78px;
}
.skill-set-2 {
  border-left: 1px solid #8f3245;
  height: 78px;
}
.skill-set-3 {
  border-left: 1px solid #8f3245;
  height: 78px;
}
.star-skill {
  position: absolute;
  top: -5px;
  left: -8px;
  color: #8f3245;
}
.coding-skill {
  font-weight: 700;
  text-transform: lowercase;
}
/* .heading-pyth{
  font-weight: 400;
} */

.padding-inline {
  padding-block: 120px;
}
.text-theme {
  color: white;
}
.nav-ul {
  color: white;
  display: flex;
  gap: 62px;
  align-items: center;
  width: 100%;
}

.navs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navs-second {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 38px;
  padding-inline: 56px;
}
li {
  list-style: none;
  font-weight: 600;
  text-transform: capitalize;
}
.open-bar {
  display: none;
  background-color: none;
  border: none;
  z-index: 1;
}
.help-heading {
  font-weight: 900;
}
.set-main-count {
  padding: 33px;
  background: white;
  border: 1px solid #efefef;
  border-radius: 10px;
  width: 70%;
  /* color: #f0eeed; */
}
.border-lefting {
  border-right: 2px solid #efefef;
}

.counter-card {
  height: 150px;
  width: 150px;
  background-color: #f0eeed;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-projects {
  font-weight: 600;
  color: black;
}
.underline {
  width: 10%;
  height: 3px;
  background-color: #f0eeed;
}
.project-card {
  background-color: #fafafa;
  border-radius: 10px;
}
.round-of-project {
  width: 35px;
  height: 35px;
  background-color: #1f2137;
  border-radius: 50%;
  color: white;
  border: 2px solid #1f2137;
}
.round-of-project h6 {
  font-weight: 700;
}
.heaidng-card-proj {
  font-weight: 700;
}
.content-proj {
  overflow: hidden;
  height: 50px;
  font-weight: 400;
}

.closing-icon {
  color: black;
  z-index: 100000;
  display: none;
  font-size: 29px;
}
.footer {
  background-color: #212437;
}

.slow-1 {
  transition: all 0.9s ease !important;
}
.slow-2 {
  transition: all 1s ease !important;
}
.slow-3 {
  transition: all 1.1s ease !important;
}
.slow-4 {
  transition: all 1.3s ease !important;
}
.slow-5 {
  transition: all 1.4s ease !important;
}
.slow-6 {
  transition: all 1.9s ease !important;
}

.con-btn {
  padding-inline: 20px;
  padding-block: 15px;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  background-color: white;
  color: black;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #efefef;
}
a {
  color: black;
  text-decoration: none;
}
.servicess {
  display: flex;
  gap: 14px;
  align-items: center;
  color: #8f3245;
}
.accordion-button::after {
  color: #8f3245;
}
.accordion-button::before {
  content: "\F235";
  font-family: "bootstrap-icons";
  right: 0;
  position: absolute;
  right: 30px;
  color: white;
  font-weight: 900;
  font-size: 20px;
}
.accordion-item {
  background-color: #8f3245;
  color: white;
}
.accordion-item button {
  background-color: #8f3245;
  color: white;
}

.accordion-button:not(.collapsed)::before {
  content: " \F229";
}
.accordion-button::after {
  display: none;
}
.skill-head {
  color: black;
  font-size: 25px;
  font-weight: 500;
  text-transform: lowercase;
}
.line-skill {
  height: 3px;
  width: 50px;
  background-color: black;
}
.skill-card img {
  width: 45px;
  object-fit: contain;
}

.footer-haeding h5 {
  color: white;
}
.footer-haeding img {
  width: 30px;
  height: 30px;
}
.accordion-button:not(.collapsed),
.accordion-button:focus {
  background-color: transparent;
  color: white;
  /* box-shadow: none; */
}
.accordion-button h1 {
  font-weight: 700;
}
.best-services {
  color: #8f3245;
  font-weight: 300;
}
.best-services-sub {
  font-weight: 700;
}
.content-best {
  font-weight: 500;
}
.best-btn {
  padding-inline: 11px;
  padding-block: 5px;

  background: black;
  color: white;
  border: 1px solid #fafafa;
  border-radius: 4px;
  font-weight: 400;
  text-transform: capitalize;
}
.card-of {
  border-radius: 7px;
  height: 50vh;
}
.card-of img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 55px;
}

.nextimage {
  opacity: 1;
  transition: opacity 0.7s ease-in-out;
}
.previous {
  opacity: 1;
  transition: opacity 0.7s ease-in-out;
}
.current {
  opacity: 1;
  transition: opacity 0.7s ease-in-out;
}

@keyframes fade {
  from {
    opacity: o;
  }
  to {
    opacity: 1;
  }
}

.connect-page-heading {
  color: black;
}
.contact-page input,
textarea {
  background-color: #fafafa;
  padding: 15px;
  border: none;
  outline: none;
  border: 1px solid #fefefe;
  border-radius: 3px;
  width: 100%;
  color: black;
}
.home-div-img {
  height: 100%;
  width: 100%;
  vertical-align: bottom;
  transition: 0.9s ease-in-out;
  opacity: 0;

  transform: translateY(50px);
}
.banner-img {
  transform: translate(0px);
  opacity: 1;
}
.homemain-sec h2 {
  text-transform: capitalize;
  font-weight: 700;
}
.homemain-sec h1 {
  font-weight: 800;
  letter-spacing: 7px;
  color: #8f3245;
}
.stacks-prefer h3 {
  color: #8f3245;
}
.home-services h5 {
  text-transform: capitalize;
  color: black;
  font-size: 17px;
}
.home-services p {
  color: black;
  font-size: 14px;
}
.home-services button {
  background: none;
  border: none;
  border-bottom: 1px solid #8f3245;
  color: #8f3245;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  margin: 0;
  padding: 0;
  background: none;
  font-size: 16px;
  transition: 0.9s ease-in-out;
}
.home-services button:hover {
  border: 1px solid #8f3245;
  background-color: #8f3245;
  color: white;
  border-radius: 5px;
  padding-inline: 10px;
  padding-block: 5px;
  transform: scale(1.08);
}
.toast-call {
  position: absolute;
  border: 1px solid #efefef;
  border-radius: 10px;
  width: 158px;
  background: white;
  top: -30px;
  right: -156px;
  opacity: 0;
  transition: 0.9s ease-in-out;
}
.toast-opacity {
  opacity: 1;
}

.rounding {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: 0.9s ease-in-out;
}
.rounding:hover {
  background-color: #8f3245;
}
.rounding img {
  width: 75%;
  height: auto;
}
.accordion-button {
  color: #8f3245;
}
.round {
  display: flex;
  gap: 7px;
}
.static-div {
  width: 80%;
  height: 106px;
  /* height: 139px; */
  /* background-color: #8f3245; */
  bottom: -6%;
  /* display: flex; */
  /* left: 30%; */
  border-radius: 7px;
  background-color: white;
  border: 1px solid #efefef;
  left: 11%;
}
.stacks-prefer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-p {
  text-align: start;
  font-weight: 300;
  color: gray;
}
.contact-page input::placeholder {
  color: black;
  font-size: 14px;
  font-weight: 200;
}
.contact-page textarea::placeholder {
  color: black;
  font-size: 14px;
  font-weight: 200;
  text-transform: capitalize;
}
.gaps {
  gap: 0;
}
.fade-up {
  opacity: 0;
  transition: all 0.6s ease-in;
  transform: translateY(40px);
}
.faded {
  transform: translate(0px);
  opacity: 0.5;
}

.reveal {
  opacity: 0;
  transition: all 0.6s ease;
  transform: translateX(-40px);
  z-index: 0;
}
.show-class {
  opacity: 1;
  transform: translate(0);
}

.about-page {
  height: auto;
  width: 100%;
}
.skill-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#skill-page {
}

ul li a {
  display: inline-block;
  transition: 0.9s ease-in-out;
}
ul li a:hover {
  transform: scale(1.08);
}
.heading-skill {
  color: #ff4b57;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.bb-border {
  border-bottom: 1px solid white;
}
.con-btn {
  transition: 0.4s ease-in-out;
}
.con-btn:hover {
  transform: scale(1.04);
  color: white;
  background-color: black;
}
.home-section {
  position: sticky;
  top: 0;
}
.scroll-wrapper {
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;

  /* hide scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE */
}

.scroll-wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Edge, Safari */
}
.home-center {
  height: 100%;
}
/* .second-section {
  border-top-left-radius: 7%;
  border-top-right-radius: 7%;
} */
.second-line {
  height: 4px;
  color: black;
  background-color: black;
  width: 116px;
  border-radius: 3px;
}
.stylish-nav {
  background: #fafafa;
  border: 1px solid #e6e6e6;
  padding: 7px;
  border-radius: 30px;
  position: relative;
}
.scaling {
  background: #ffffff;
  border: 1px solid #e6e6e6 !important;
  border-radius: 30px;
  font-weight: bold !important;
  color: #000;
  padding: 6px 20px !important;
}
.active-nav {
  /* border-top: 2px solid #8f3245; */
  background-color: black;
  color: white;
}
@media screen and (max-width: 768px) {
  .card-of img {
    border-radius: 10px;
  }
  .stylish-nav {
    position: absolute;
    top: 35px;
    right: 30px;
    padding: 55px;
  }
  .nav-container {
    padding: 0;
    background-color: none;
    border-radius: 0px;
    background: none;
  }
  /* .nav {
    background-color: #fafafa;
  } */

  .infinite-section img {
    width: 50px;
    height: 50px;
    margin-right: 40px;
  }
  .static-div {
    height: auto;
  }

  .home-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .home-sub-heading {
    text-align: center;
  }

  .navs {
    gap: 38px;
    display: flex;
    flex-direction: column;
  }
  .navs-second {
    padding-inline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .underline {
    width: 30%;
  }
  .second-sticky h1 {
    font-size: 40px;
    font-weight: 900;
  }
  .toasts {
    z-index: 20000;
    width: 300px;
    top: -100px;
    right: 4px;
    border-radius: 5px;
    position: relative;
    background-color: #90ee90;
    color: black;
    opacity: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 6px;
    transition: 0.3s ease-in-out;
  }
  .toasts p {
    color: green;
    text-transform: capitalize;
    font-weight: 700;
    text-align: start;
  }
  .toasts img {
    width: 30px;
    height: 30px;
  }
  .toasts i {
    position: fixed;
    top: 0;
    right: 6px;
    font-size: 20px;
    color: green;
    cursor: pointer;
  }

  .gaps {
    gap: 1rem;
  }
  .nav {
    position: fixed;
    right: -1000px;
    height: 100vh;
    top: 0;
    z-index: 9;
    width: 100%;
    /* display: flex; */
    padding-block: 100px;
    /* transition: right ease-in-out 1s; */
    box-shadow: none;
    background-color: none;
    transition: opacity 0.7s ease-in-out;
  }
  .nav-ul {
    display: none;
  }
  .home-nav {
    margin-right: 0;
  }
  .open-bar {
    position: fixed;
    right: 10px;
    top: 6px;
    display: flex;
    background-color: none;
    background: none;
  }
  .nav-open {
    right: 0;
  }
  .open-bar img {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
  }
  .card-of {
    height: 19vh;
  }
  .wrapping {
    width: 150px;
  }
  .closing-icon-add {
    color: white;
    position: fixed;

    padding-right: 11px;
    display: block;
    z-index: 3000;
    top: 34px;
    right: 40px;
  }

  .closing-icon-add i {
    color: white;
    font-size: 38px;
  }
  .heading-home {
    font-size: 37px;
  }
  .changing-text {
    height: 44px;
  }
  .home-sub-heading {
    font-size: 14px;
    width: 100%;
  }
  .padding-inline {
    padding-block: 30px;
  }
  /* .home-section {
    height: auto;
  } */
  .second-section {
    border-radius: 0%;
  }
  .star-skill {
    height: auto;
  }
  .sm-d-none {
    display: none !important;
  }
  .contact-page input,
  textarea {
    width: 100%;
  }
  .home-section {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
